body {
    margin: 0;
    padding: 0;
    background-color: var(--color-foreground);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 13.6vh;
    width: 95vw;
}

#video-container {
    position: relative;
}

#video-feed {
    width: 55vw;
    z-index: 0;
}

.detection-container {
    margin-top: 10vh;
    width: 34.9vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 1;
    margin-left: 5vw;
}

.detection-list {
    padding: 0;
}

.detection-element {
    max-width: 34.9vw;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vip-element {
    color: #FFD31A;
}

.detection-element .detection-name {
    font-size: 42px;
    font-weight: bold;
}

.vip-element .detection-name {
    font-size: 48px;
}

.detection-element .detection-desc {
    font-size: 30px;
    opacity: 90%;
    font-weight: bold;
}
