#video-container {
    position: absolute;
    left: 50px;
    top: 38vh;
}

#video-feed {
    width: 44vw;
}

.table-detection-list {
    position: absolute;
    top: 35vh;
    left: 60vw;
    width: 30vw;
    padding-left: 5px;
    padding-right: 10px;
}

.table-detection-element {
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.table-detection-element .detection-name {
    font-size: 48px;
    font-weight: bold;
}

.table-detection-element .detection-desc {
    font-size: 32px;
    color: #444;
}
