#video-container {
    position: absolute;
    left: 50px;
    top: 32vh;
}

#video-feed {
    width: 44vw;
}

.table-detection-list {
    position: absolute;
    top: 35vh;
    left: 60vw;
    width: 30vw;
    padding-left: 5px;
    padding-right: 10px;
}

.table-detection-element {
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}
