body {
    margin: 0;
    padding: 0;
    background-color: var(--color-foreground);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 13vh;
    gap: 100px;
}

#video-container {
    position: relative;
}

#video-feed {
    width: 55vw;
}


.detection-container {
    margin-top: 10vh;
    width: 30vw;
    height: 80vh;
    padding-left: 5px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.detection-element {
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.detection-element .detection-name {
    font-size: 48px;
    font-weight: bold;
}

.detection-element .detection-desc {
    font-size: 32px;
    color: #444;
}
