<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FR Settings</title>
    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/taskbar.css" />
  </head>
  <body>
    <h1 class="title">Facial Recognition Settings</h1>
    <form class="form" action="/api/submit_settings" method="POST">
      <fieldset class="form-section">
        <legend>Default Parameters</legend>

        <label for="threshold">Default Recognition Threshold</label>
        <input
          type="number"
          id="threshold"
          name="threshold"
          value="{{ threshold|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
          required
        />
        <div class="break"></div>

        <label for="holding_time">Holding Time</label>
        <input
          type="number"
          id="holding_time"
          name="holding_time"
          value="{{ holding_time|float|round(2) }}"
          min="1"
          max="120"
          step="0.1"
          required
        />

        <div class="break"></div>

        <label for="max_detections">Max Detections</label>
        <input
          type="number"
          id="max_detections"
          name="max_detections"
          value="{{ max_detections }}"
          min="1"
          max="100"
          step="1"
          required
        />

        <div class="break"></div>

        <label for="perf_logging">Enable Performance Logging</label>
        <input
          type="checkbox"
          id="perf_logging"
          name="perf_logging"
          {%
          if
          perf_logging
          %}checked{%
          endif
          %}
        />

        <div class="break"></div>

        <label for="frame_skip">Frame Interval (1 = every frame)</label>
        <input
          type="number"
          id="frame_skip"
          name="frame_skip"
          value="{{ frame_skip }}"
          min="1"
          max="10"
          step="1"
          required
        />

        <div class="break"></div>

        <label for="max_broadcast_fps">Max Broadcast FPS</label>
        <input
          type="number"
          id="max_broadcast_fps"
          name="max_broadcast_fps"
          value="{{ max_broadcast_fps }}"
          min="5"
          max="200"
          step="5"
          required
        />

        <div class="break"></div>

        <label for="video_width">Video Width</label>
        <input
          type="number"
          id="video_width"
          name="video_width"
          value="{{ video_width }}"
          min="100"
          max="4096"
          required
        />

        <div class="break"></div>

        <label for="video_height">Video Height</label>
        <input
          type="number"
          id="video_height"
          name="video_height"
          value="{{ video_height }}"
          min="100"
          max="4096"
          required
        />
      </fieldset>

      <fieldset class="form-section">
        <legend>Differentiator</legend>

        <label for="use_differentiator">Use Differentiator</label>
        <input
          type="checkbox"
          id="use_differentiator"
          name="use_differentiator"
          {%
          if
          use_differentiator
          %}checked{%
          endif
          %}
        />
        <div class="break"></div>

        <label for="threshold_lenient_diff">Lenient Threshold</label>
        <input
          type="number"
          class="differentiator-inputs"
          id="threshold_lenient_diff"
          name="threshold_lenient_diff"
          value="{{ threshold_lenient_diff|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
          required
        />
        <div class="break"></div>
        <!-- Value below which a face would be considered recognised; the lower the stricter; lenient threshold is for faces where the top match is much closer than the 2nd best -->

        <label for="similarity_gap">Similarity Gap</label>
        <input
          type="number"
          class="differentiator-inputs"
          id="similarity_gap"
          name="similarity_gap"
          value="{{ similarity_gap|float|round(2) }}"
          min="0.01"
          max="0.2"
          step="0.01"
          required
        />
        <!-- Difference in score between 1st and 2nd best match for lenient threshold to apply  -->
      </fieldset>

      <fieldset class="form-section">
        <legend>Persistor</legend>

        <label for="use_persistor">Use Persistor</label>
        <input
          type="checkbox"
          id="use_persistor"
          name="use_persistor"
          {%
          if
          use_persistor
          %}checked{%
          endif
          %}
        />
        <div class="break"></div>

        <label for="q_max_size">Max Queue Size</label>
        <input
          type="number"
          class="persistor-inputs"
          id="q_max_size"
          name="q_max_size"
          value="{{ q_max_size }}"
          min="10"
          max="500"
          step="10"
        />
        <div class="break"></div>

        <label for="threshold_sim">Minimum Similarity</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_sim"
          name="threshold_sim"
          value="{{ threshold_sim|float|round(2) }}"
          min="0.01"
          max="0.6"
          step="0.01"
        />
        <div class="break"></div>

        <label for="threshold_iou">Minimum IOU</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_iou"
          name="threshold_iou"
          value="{{ threshold_iou|float|round(2) }}"
          min="0.00"
          max="1.00"
          step="0.01"
        />
        <div class="break"></div>

        <label for="threshold_lenient_pers">Lenient Threshold</label>
        <input
          type="number"
          class="persistor-inputs"
          id="threshold_lenient_pers"
          name="threshold_lenient_pers"
          value="{{ threshold_lenient_pers|float|round(2) }}"
          min="0.3"
          max="0.9"
          step="0.01"
        />
      </fieldset>

      <input type="submit" class="submit-button" value="Submit" />
    </form>

    <!-- Bottom Taskbar -->
    <div class="taskbar-placeholder">
      <div class="taskbar">
        <button id="home-button">Back</button>
      </div>
    </div>

    <script src="../static/js/settings.js"></script>
    <script src="../static/js/taskbar.js"></script>
  </body>
</html>
